langchain
langgraph
langchain-core
langchain-community
langchain-huggingface
langchain-groq
python-dotenv
huggingface_hub
Pillow
pydantic
mcp[cli]
langchain_mcp_adapters
nltk
matplotlib
fastapi
uvicorn